<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.backend.backend.mapper.ConfigMapper">
    <insert id="insertOne" parameterType="com.bms.backend.backend.pojo.Config">
        insert into bridgetest.config(asun_id, bty_id, con_id)
        values (#{asun_id}, #{bty_id}, #{con_id})
    </insert>
</mapper>